<h1><%= @cocktail.name %></h1>
<div class="product-trip">
  <%= cl_image_tag @cocktail.photo.key %>
  <div class="product-trip-infos">
    <div>
      <h2>
        <% @cocktail.doses.each do |dose| %>
          <h2> <%= dose.description %> <%= link_to "x", cocktail_dose_path(@cocktail.id, dose.id),
              method: :delete,
              data: { confirm: "Are you sure?" } %> </h2>
        <% end %>
      </h2>
    </div>
    <h2 class="product-trip-pricing"><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id) %>
    </h2>
  </div>
  <div class="product-trip-infos">
    <div>
      <h2>
        <% @cocktail.reviews.each do |review| %>
        <p> <%= review.content %> | <%= review.rating %></p>
        <% end %>
      </h2>
    </div>
    <h2 class="product-trip-pricing"><%= link_to "Add a review", new_cocktail_review_path(@cocktail.id) %>
    </h2>
  </div>
</div>
<br>
<p><%= link_to "Back to all cocktails", cocktails_path %></p>

